{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Ann's version of to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table style="width: 70%; padding: 15px; margin-bottom: 20px;">    
          {% for item in items %}
          <tr style="border: 1px solid; text-align: left; vertical-align: center; height: 50px;">
            <td style= "padding: 15px;">{{item.title}}</td>
            <td>{{item.status}}</td>
            {% if item.status != 'Done' %} 
            <td>
                <form action="/endTask" method="post">    
                  <input type="hidden" name="TaskNo" value="{{item.id}}" required>
                  <input type="submit" value="Done">
                </form>                   
            </td>   
            {% endif %}    
          </tr>
        {% endfor %}          
      </table>
    </div>
  </div>

  <h2>Add new item</h2>
  <table style="width: 70%; padding: 15px; margin-bottom: 20px;">    
    <tr style="border: 1px solid; text-align: left; vertical-align: center; height: 50px;">
      <td style= "padding: 15px;">
        <form action="/addTask" method="post">    
          <label for="name">New task name: </label>
          <input style= "min-width: 250px;" type="text" name="TaskName" required>
          <input type="submit" value="Enter">
        </form>
      </td>
    </tr>
  </table>

{% endblock %}